:root {
    --blanco: #fff;
    --negro: #222;
    --texto: #212121;
    --principal: #009688;
    --principal-dark: #00796B;
    --principal-light: #B2DFDB;
    --secundario: #FFC107;
    --formulario: #5c5c5c;
    /* color: var(--blanco); */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top, #d2ebe8, #d9ebef, #e2ebf1, #eaecf0, #eeeeee);
    font-size: 16px; /* 1 rem = 10px */
} /* usar siempre */

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

.titulo{
    margin: 0;
    padding-top: 1.25rem;
    font-weight: 700;
    font-size: 2.5rem;
    height: 5rem;
    background-color: #eee;
    color: var(--texto);
}

span{
    font-size: 1.2rem;
    font-weight: 300;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}


.nav-bg{
    background-color: var(--principal);
}

.nav-principal{
    display: flex;
    font-weight: 700;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-principal a{ /* padding en el enlace para ocupar 100% */
    padding: 1.2rem 2rem;
    color: var(--blanco);
    text-decoration: none;
}

.nav-principal a:hover, .nav-principal a:focus, .nav-principal a:active{
    background-color: var(--principal-dark);

}

.hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

.hero-cont{
    position: absolute;
    background-color: #2222228f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--blanco);
}

.boton{
    background-color: var(--principal);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    width: 90%;
    border: none;
    text-align: center;
}
.boton:hover{
    background-color: var(--principal-dark);
}

.ubi{
    display: flex;
    align-items: center;
}


/* Servicios */

.servicios, .nav-principal,.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.sombra{
    -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
    background-color: var(--blanco);
    color: var(--texto);
    padding: 2rem;
}

.card{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    line-height: 2rem;
    text-align: justify;
}

.card h3{
    margin-top: 0;
    font-weight: 700;
    color: var(--principal-dark);
    text-decoration: underline;
}

.iconos{
    background-color: var(--secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

/* FORMULARIO */

.formulario{
    background-color: var(--formulario);
    width: min(70rem,100%); /* utiliza mas pequeño */ 
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    color: var(--blanco);
}
.formulario fieldset{
    border: none;
}

.formulario legend{
    color: var(--secundario);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    /*padding: 0 1rem 1rem 1rem; */
    text-transform: uppercase;
}


.campo{
    margin-bottom: 1rem;
}

.campo label{
    display: block;
    margin-bottom: .5rem;
    font-weight: 700;
}

.input{
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}


/* utilidades */

.w-100{
    width: 100%;
}
.flex{
    display: flex;
}
.derecha{
    justify-content: center;
}


/* footer */

footer{
    text-align: center;
    color: var(--texto);
    font-size: 1.5rem;
    font-weight: 300;
}

@media(min-width: 768px){
    
    .derecha{
        justify-content: flex-end;
    }
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
    }
    .card p{
        padding: 1rem;
    }
    .w-100{
        width: auto;
    }
    .boton{
        width: auto;
    }

    
    .form-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 15rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3), .campo:nth-child(4){
        grid-column: 1/3;
    }

}

@media (min-width: 480px) { 
    .nav-principal{
        flex-direction: row;
        justify-content: space-around;
        
    }

}


